@use "../../presets" as *;
@use "../../mixins" as *;

.actions {

  &--second {
    @include lg-min {
      justify-content: flex-end;

      color: $color-gray-bg-text;
    }

    @include lg {
      justify-content: space-between;

      color: $color-gray-bg-text;
    }

  }
}