@use "../presets" as *;

%container {
  width: min(100% - 40px, $ul);
  margin-inline: auto;
}

%text-liner-gradient {
  background: $bg-gradient-red-text2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}