@use "../presets" as *;
@use "../mixins" as *;

.actions {
  &--alt {
    @include lg-min {
      justify-content: flex-end;

      color: $color-white;
    }
    @include lg {
      justify-content: space-between;

      color: $color-gray-bg-text;
    }
  }

  &__locations {
    &--alt {
      @include lg {
        display: none;
      }
    }
  }

  &__socials {
    &--alt {
      @include lg {
        display: none;
      }
    }
  }
}
