@use "../presets" as *;
@use "../mixins" as *;

.page-header {
  &--alt {
    min-height: 200px;

    background: none;
    background-color: $color-primary;

    @include lg-min {
      &::before {
        bottom: 100%;

        content: "";

        background: none;
      }
    }



    &::after {
      top: 100%;

      content: "";

      background: none;
    }
  }


  &__logo {
    &--secondary {
      display: flex;

      gap: $gap;
      @include sm {
        align-items: center;
      }
    }

    &-image {
      @include sm {
        display: none;
      }
    }

    &-img {
      @include sm-min {
        display: none;
      }
    }

    &-title {
      position: relative;

      display: inline-block;

      margin-left: 10px;

      color: $color-white;

      line-height: 1.2;

      @include sm-min {
        font-size: 38px;
      }
      @include sm {
        font-size: 19px;
      }
      @include sm-min {
        &::after {
          position: absolute;
          top: -7%;

          width: 59px;
          height: 66px;
          margin-left: 2px;

          content: "";

          background-image: url(../img/symbol-slash.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 40px;
        }
      }
      @include sm {
        &::after {
          position: absolute;
          top: -20%;

          width: 30px;
          height: 33px;
          margin-left: 2px;

          content: "";

          background-image: url(../img/symbol-slash.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
        }
      }
      @include sm-min {
        &::before {
          position: absolute;
          right: 89%;
          bottom: -40%;

          width: 61px;
          height: 155px;

          content: "";

          background-image: url(../img/slash-slash.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
        }
      }
      @include sm {
        &::before {
          position: absolute;
          top: -122%;
          right: 95%;

          width: 32px;
          height: 81px;
          margin-left: 20px;

          content: "";

          background-image: url(../img/slash-slash.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 12px;
        }
      }
    }
  }


  &__grid {
    &--alt {
      @extend %container;
      @include lg-min {
        padding-top: 50px;

        grid-template-areas: "logo actions" "logo menu";
      }
      @include lg {
        padding-top: $gap;

        grid-template-areas: "actions actions" "logo menu";
      }
    }
  }
}
