@use "../presets" as *;
@use "../mixins" as *;

.menu {
  &__btn {
    &--alt {
      @include lg-min {
        display: none;
      }
      @include lg {
        display: block;
      }
    }
  }

  &__list {
    &--alt {
      @include lg {
        display: none;
      }
    }
  }
}
