@use "../presets" as *;
@use "../mixins" as *;

.case {
  padding-top: 40px;
  padding-bottom: 30px;

  &--alt {
    padding-top: 100px;
  }

  &__content {
    border-radius: 12px;
  }
}

.grid {
  display: grid;

  gap: 1px;
  @include lg-min {
    grid-template-areas: "first first th th four" "snd snd th th four" "fif six six svn svn";
    grid-template-columns: 2.6fr 1fr 2fr 0.8fr 3.3fr;
    grid-template-rows: 1fr 3fr 3fr;
  }
  @include lg-sm {
    grid-template-areas: "first first" "snd th" "four fif" "six svn";
    grid-template-columns: 1fr 1fr;
  }
  @include sm {
    grid-template-areas: "first" "snd" "th" "four" "fif" "six" "svn";
  }

  &__first {
    padding: 1em;

    background-color: $color-gray-bg;

    grid-area: first;
    @include lg-min {
      border-radius: 12px 0 0 0;
    }
    @include lg {
      border-radius: 12px 12px 0 0;
    }

    &-title {
      letter-spacing: 1px;
      text-transform: uppercase;

      color: $color-accent;

      font-size: 14px;
      line-height: 1.2;

      @include lg {
        text-align: center;
      }
    }
  }

  &__second {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1em;

    background-color: $color-gray-bg;

    grid-area: snd;

    &-title {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      color: $color-primary-soft;

      line-height: 1.2;

      @include md-min {
        font-size: 24px;
      }
      @include md {
        font-size: 18px;
      }
    }



    &-link {
      margin-left: -0.5em;
      padding: 0.5em;

      color: $color-gray-bg-text;

      font-size: 18px;
      line-height: 1.44;
    }
  }

  &__third {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1em;

    background-color: $color-gray-bg;

    grid-area: th;

    &-title {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      color: $color-primary-soft;

      line-height: 1.2;

      @include md-min {
        font-size: 24px;
      }
      @include md {
        font-size: 18px;
      }
    }



    &-link {
      margin-left: -0.5em;
      padding: 0.5em;

      color: $color-gray-bg-text;

      font-size: 18px;
      line-height: 1.44;
    }
  }

  &__fourth {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1em;

    background-color: $color-gray-bg;

    grid-area: four;
    @include lg-min {
      border-radius: 0 12px 0 0;
    }


    &-title {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      color: $color-primary-soft;

      line-height: 1.2;

      @include md-min {
        font-size: 24px;
      }
      @include md {
        font-size: 18px;
      }
    }



    &-link {
      margin-left: -0.5em;
      padding: 0.5em;

      color: $color-gray-bg-text;

      font-size: 18px;
      line-height: 1.44;
    }
  }

  &__fifth {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1em;

    background-color: $color-gray-bg;

    grid-area: fif;
    @include lg-min {
      border-radius: 0 0 0 12px;
    }

    &-title {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      color: $color-primary-soft;

      line-height: 1.2;

      @include md-min {
        font-size: 24px;
      }
      @include md {
        font-size: 18px;
      }
    }



    &-link {
      margin-left: -0.5em;
      padding: 0.5em;

      color: $color-gray-bg-text;

      font-size: 18px;
      line-height: 1.44;
    }
  }

  &__sixth {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1em;

    background-color: $color-gray-bg;

    grid-area: six;
    @include lg-sm {
      border-radius: 0 0 0 12px;
    }

    &-title {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      color: $color-primary-soft;

      line-height: 1.2;

      @include md-min {
        font-size: 24px;
      }
      @include md {
        font-size: 18px;
      }
      @include sm {
        display: flex;
        justify-content: flex-start;
      }
    }



    &-link {
      margin-left: -0.5em;
      padding: 0.5em;

      color: $color-gray-bg-text;

      font-size: 18px;
      line-height: 1.44;
    }
  }

  &__seventh {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1em;

    background-color: $color-gray-bg;

    grid-area: svn;
    @include sm-min {
      border-radius: 0 0 12px 0;
    }
    @include sm {
      border-radius: 0 0 12px 12px;
    }


    &-title {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      color: $color-primary-soft;

      line-height: 1.2;

      @include md-min {
        font-size: 24px;
      }
      @include md {
        font-size: 18px;
      }
    }



    &-link {
      margin-left: -0.5em;
      padding: 0.5em;

      color: $color-gray-bg-text;

      font-size: 18px;
      line-height: 1.44;
    }
  }
}
