@use "../presets" as *;
@use "../mixins" as *;

.companies {
  &__container {
    width: min(100%);
  }

  &__title {
    margin-bottom: 30px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-primary;

    font-size: 14px;
    line-height: 1.2;
  }

  &__grid {
    display: grid;

    @include lg-min {
      grid-auto-rows: 120px;
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-auto-rows: 120px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-xx {
      grid-auto-rows: 90px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include xx {
      grid-auto-rows: 90px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: bisque;

    &--hillel {
      background: #1c4280;
    }

    &--wannabiz {
      background: #013748;
    }

    &--tapgerine {
      background: #ff8400;
    }

    &--3dlook {
      background: #aa47c9;
    }

    &--orange {
      background: #ff8c09;
    }

    &--adteligent {
      background: #e2e2e4;
    }

    &--clickky {
      background: #d9002f;
    }

    &--ecolease {
      background: #d6f4fa;
    }

    &--infratek {
      background: #eaeaea;
    }

    &--citypark {
      background: #292242;
    }

    &--artprint {
      background: #05466b;
    }

    &--ultimate {
      background: $color-black;
    }
  }
}
