@use "../presets" as *;
@use "../mixins" as *;

.item-services {
  display: flex;
  flex-direction: column;

  gap: $gap;
  @include sm-min {
    gap: $gap;
  }
  @include sm {
    gap: $gap-sm;
  }

  &__header {
    display: flex;

    @include sm-min {
      flex-direction: column-reverse;

      gap: $gap;
    }
    @include sm {
      align-items: center;
      flex-direction: row;
      flex-grow: 1;
      flex-shrink: 2;

      gap: $gap;
    }
  }

  &__title {
    flex-grow: 1;
    flex-shrink: 2;

    color: $color-active;

    font-weight: 500;

    @include sm-min {
      font-size: 24px;
      line-height: 28px;
    }
    @include sm {
      justify-content: center;
      order: 1;

      font-size: 18px;
      line-height: 26px;
    }
  }





  &__description {
    color: $color-white;

    line-height: 1.44;

    @include sm-min {
      font-size: 18px;
    }
    @include sm {
      font-size: 16px;
    }
  }
}
