@use "../presets" as *;
@use "../mixins" as *;

.publication {
  position: relative;

  padding-top: 40px;

  background: $color-gray-bg;

  @include sm {
    padding-top: 20px;
    padding-bottom: 105px;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    background: linear-gradient(180deg,
        rgba(245, 245, 250, 0) 0%,
        #f5f5fa 86.5%);

    @media (min-width: 906px) {
      top: 68%;
    }

    @media (max-width: 906px) and (min-width: 480px) {
      top: 90%;
    }
  }

  &__title {
    max-width: 412px;
    margin-bottom: 40px;

    font-size: 42px;
    font-weight: 700;
    line-height: 50px;

    @include sm {
      margin-bottom: 20px;

      font-size: 32px;
      line-height: 38px;
    }

    -webkit-text-fill-color: transparent;

    span {
      background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
      -webkit-background-clip: text;
    }
  }

  &__wrap {
    @include xs-min {
      column-count: auto;
      column-width: 413px;
      gap: 40px;
    }

    @include xs {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    position: absolute;
    z-index: 3;
    right: 50%;
    bottom: 60px;
    left: 50%;

    width: 250px;
    min-height: 50px;

    cursor: pointer;
    transition: 0.3s linear;
    transform: translateX(-50%);
    text-align: center;

    color: $color-white;
    border: none;
    border-radius: 12px;
    background: $color-active;
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    @include xs {
      bottom: 38px;
    }

    &:hover {
      background: $color-active-hover;
    }
  }
}