@use "../presets" as *;
@use "../mixins" as *;

.services {
  position: relative;

  margin-top: -1px;
  padding-bottom: 80px;

  border-radius: 0 0 12px 12px;
  background: linear-gradient(218.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);



  &:before {
    position: absolute;
    top: 100%;
    right: 40px;
    left: 40px;

    height: 20px;

    content: "";

    border-radius: 0 0 12px 12px;
    background-color: $color-gray-bg-separator;
  }

  &:after {
    position: absolute;
    top: 100%;
    right: 20px;
    left: 20px;

    height: 10px;

    content: "";

    border-radius: 0 0 12px 12px;
    background-color: $color-gray-bg-text;
  }

  &__link {
    position: relative;

    letter-spacing: 1px;
    text-transform: uppercase;

    opacity: 0.5;
    color: $color-white;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;

    &:after {
      position: absolute;
      top: 15%;

      width: 30px;
      height: 13px;
      margin-left: -6px;

      content: "";

      background-image: url(../img/link-arrow-gray.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  &__title {
    margin-bottom: 45px;
    padding-top: 5px;

    line-height: 1.2;

    @include lg-min {
      font-size: 42px;
    }
    @include lg {
      font-size: 32px;
    }
    -webkit-text-fill-color: transparent;


    span {
      background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
      -webkit-background-clip: text;
    }
  }

  &__wrap {
    display: grid;

    @include md-min {
      gap: 60px $gap-lg;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include md-sm {
      gap: 50px $gap-lg;
      grid-template-columns: 1fr 1fr;
    }
    @include sm {
      align-items: flex-start;

      gap: $gap-lg;
    }
  }
}
