@use "../presets" as *;
@use "../mixins" as *;


.team {
  padding-top: 60px;

  &__content {
    display: grid;

    border-radius: 15px;
    background-color: $color-gray-bg;

    @include xl-min {
      gap: 0 $gap-lg;
      grid-template-areas: "pic link" "pic title" "pic dsc";
      grid-template-rows: 0.5fr 4fr 3fr;
    }

    @include xl-lg {
      gap: 0 $gap-lg;
      grid-template-areas: "pic link" "pic title" "pic dsc";
      grid-template-rows: 0.25fr 3fr 0.87fr;
    }

    @include lg-md {
      padding: $gap;
      padding: 1em;

      gap: $gap;
      grid-template-areas: "link" "title" "pic" "dsc";
    }

    @include md {
      padding: 1em;

      gap: $gap $gap;
      grid-template-areas: "link link" "title title" "pic dsc";
    }
  }

  &__title {
    max-width: 821px;

    background: $bg-gradient-red-text;
    -webkit-background-clip: text;
    background-clip: text;

    font-weight: 700;
    line-height: 1.2;

    grid-area: title;

    @include md-min {
      font-size: 42px;
    }

    @include md {
      font-size: 32px;
    }

    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  &__link-team {
    padding-top: 10px;

    grid-area: link;
  }

  &__link {
    position: relative;

    display: inline-block;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    &:after {
      position: absolute;
      top: 15%;

      width: 30px;
      height: 13px;
      margin-left: -6px;

      content: "";

      background-image: url(../img/link-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }





  &__description {
    display: flex;
    flex-direction: column;

    grid-area: dsc;
  }



  &__text {
    color: $color-gray-bg-text;

    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
  }

  &__copyright {
    color: $color-gray-bg-text;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
  }

  &__picture {
    grid-area: pic;

    @include lg-min {
      margin-bottom: -3px;
    }

    @include md {
      text-align: start;
    }
  }

  &__image {
    @include xl-min {
      width: 100%;

      border-radius: 12px 0 0 12px;
    }

    @include xl-lg {
      width: 100%;

      border-radius: 12px 0 0 12px;
    }

    @include lg-md {
      width: 50%;
    }

    @include md {
      display: none;
    }

    &-min {
      @include md-min {
        display: none;
      }
    }
  }



  &__indicators {
    display: flex;
    justify-content: center;

    padding-top: 20px;

    gap: 14px;
  }

  &__indncator {
    width: 16px;
    height: 16px;

    opacity: 0.2;
    border-radius: 16px * 0.5;
    background-color: $color-active;

    &.active {
      opacity: 1;
    }
  }
}