@use "../presets" as *;
@use "../mixins" as *;

.page-header {
  position: relative;
  background: $bg-gradient-soft;

  &::before {
    content: "";
    background-image: url(../img/bgletterP.svg);
    background-size: 85vh;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    position: absolute;
    z-index: 1;

    @include abs-position;

    @include sm {
      display: none;
    }
  }

  &::after {
    content: "";
    background: linear-gradient(to top, $color-primary 0%, transparent 100%);
    @include abs-position(70%);
    z-index: 1;
  }

  &__grid {
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto 1fr;

    gap: $gap;


    @include md-min {
      grid-template-areas: "logo actions" "logo menu";
      padding-top: 50px;
    }

    @include md {
      grid-template-areas: "actions actions" "logo menu";
      padding-top: $gap;
    }

    @extend %container;
  }

  &__logo {
    grid-area: logo;
  }

  &__menu {
    grid-area: menu;
  }

  &__actions {
    grid-area: actions;
  }

  &__content {
    position: relative;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &-title {
      position: relative;
      z-index: 2;
      margin: 0;
      font-size: 38px;
      line-height: 45px;
      text-align: center;
      font-weight: 500;

      color: $color-white;
      max-width: 640px;
      padding: $gap;
    }

    &-image {
      position: absolute;
      height: 63vh;
      bottom: 0;
      z-index: 1;

    }
  }

  &__button {
    position: absolute;

    display: none;
  }
}