@use "../presets" as *;
@use "../mixins" as *;

.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $color-gray-bg;

  &__container {
    @extend %container;
  }

  &__content {
    border-top: 4px solid $color-gray-bg-separator;
    display: flex;
    padding-top: 20px;

    @include md-min {
      justify-content: space-between;
    }

    @include md {
      flex-direction: column;
      justify-content: center;
      gap: $gap;
    }
  }

  &__menu {
    display: grid;
    justify-content: center;

    @include md-min {
      grid-template-areas: "loc loc map" "soc phon email";
      gap: $gap;
    }

    @include md {
      grid-template-areas: "loc" "map" "soc" "phon" "email";
      gap: $gap;
    }
  }

  &__locations {
    grid-area: loc;

    &-link {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      color: $color-primary;

      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }

  &__map {
    grid-area: map;

    &-link {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $color-active;

      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }

  &__socials {
    grid-area: soc;

    &-link {
      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }

  &__phones {
    grid-area: phon;
    display: flex;
    justify-content: center;
    align-items: center;

    &-link {

      font-weight: 700;
      font-size: 16px;
      line-height: 1.2;
      /* identical to box height */

      text-align: right;
      color: $color-primary-alt;
    }
  }

  &__email {
    grid-area: email;
    display: flex;
    justify-content: center;
    align-items: center;

    &-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */


      /* Active / Regular */

      color: $color-active;
    }
  }

  &__copyright {
    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      color: $color-gray-bg-text;

      @include md-min {
        text-align: right;
      }

      @include md {
        text-align: center;
      }
    }
  }
}